<% layout("/layouts/boilerplate") %>
<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    align-items: center;
  }
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8rem;
  }
  .taxInfo{
    display: none;
  }
  .tax-toggle{
    border: 2px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding: 0.6rem;
    margin-left: 3rem;
  }
</style>
<body>
  <div id="filters">
    <div class="filter">
       <div><i class="fa-solid fa-fire"></i></div>
       <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
   </div>
   <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic city</p>
 </div>
 <div class="filter">
   <div><i class="fa-solid fa-mountain"></i></div>
   <p>Mountains</p>
</div>
<div class="filter">
  <div><i class="fa-brands fa-fort-awesome"></i></div>
  <p>Castles</p>
</div>
<div class="filter">
 <div><i class="fa-solid fa-person-swimming"></i></div>
 <p>Amazing pools</p>
</div>
<div class="filter">
  <div><i class="fa-solid fa-campground"></i></div>
  <p>Campeing</p>
</div>
<div class="filter">
 <div><i class="fa-solid fa-cow"></i></div>
 <p>Farms</p>
</div>
<div class="filter">
<div><i class="fa-solid fa-snowflake"></i></div>
<p>Arctic</p>
</div>
<div class="tax-toggle">
<div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
</div>
</div>
  </div>
    <div class="row row-cols-md-3 row-cols-sm-2">
    
    <%for(listing of allListing){  %>
    <div class="col">
        <a href="/listing/<%=listing._id%>" class="link">
         <div class="hcard">
      <div class="card" style="width: 20rem;">
        <img src="<%=listing.image.url%>" class="card-img-top" alt="listing-img">
        <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b><%=listing.title%> </b><br>
              &#8377;<%= listing.price.toLocaleString("en-IN")%> /night
              &nbsp; &nbsp;<i class="taxInfo">+18% GST</i>
            </p>
          </div>
      </div>
    </div>
    </a>
    </div>  
  
    <%}%> 
  
    </div>
 <script>
  let taxSwitch=document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",()=>{
    let taxInfo=document.getElementsByClassName("taxInfo");
    for(info of taxInfo){
      if( info.style.display!="inline")
      info.style.display="inline";
      else
       info.style.display="none"
    }
  })
  
 </script>    
 
</body>


